<div class="main">
<div id="dugmad" class="dugmad">
    <button mat-raised-button class="createCardButton" (click)="createCard()" #createCardButton>Create card</button>
    <button mat-raised-button class="addCardToShopButton" (click)="addCardToShop()" #addCardToShopButton>Add card to shop</button>
</div>
<mat-card class="container">
    <div *ngFor="let shop of shopsForDisplay"  class="containerCard">
        <app-cards-display [card]="shop.card"></app-cards-display>
        <div class="containerLabela border">Price: {{shop.price}}</div>
        <button mat-raised-button class="addCardButton" (click)="buyCard(shop)" #buyCardButton>Buy Card</button>
        <button mat-raised-button class="addCardButton {{visibility}}" (click)="deleteCard(shop)" #deleteCardButton>DeleteCard</button>
        <button mat-raised-button class="addCardButton {{visibility}}" (click)="editCard(shop)" #editCardButton>Edit Card</button>
    </div>
</mat-card>

</div>