
<div class="loginContainer">
    <label class="title">Welcome to Medieval Strike!</label>
    <mat-form-field class="loginRow">
        <input matNativeControl type="text" placeholder="Username" name="username" #username
            (input)="setUsername(username.value)" />
    </mat-form-field>
    <mat-form-field class="loginRow">
        <input matNativeControl type="password" placeholder="Password" name="password"
            (input)="setPassword(password.value)" #password />
    </mat-form-field>
    <label class="errorMessage" id="errorMessage">Invalid email and/or password!</label>
    <button mat-raised-button class="loginButton" (click)="login()" #loginButton>Log in</button>
    <label class="signupMessage" (click)="registration()">Don't have an account? Sign up here!</label>
</div>