<span *ngIf="card">
    <mat-card class="thumbContainer">
        <div>
            <mat-card-title class="title">{{card.name}}</mat-card-title>
            <mat-card-subtitle class="subtitleUsername">By: {{card.attack}}
            </mat-card-subtitle>
            <mat-card-subtitle class="subtitleUsername">By: {{card.defence}}
            </mat-card-subtitle>
            <mat-card-subtitle class="subtitleUsername">By: {{card.description}}
            </mat-card-subtitle>
        </div>
        
    </mat-card>
</span>