<div class="cardsCreate">
    <label class="title">update card</label>
    <mat-form-field class="loginRow">
        <input matNativeControl type="text" value="{{card?.name}}" name="name" #name
            (input)="setName(name.value)" />
    </mat-form-field>
    <mat-form-field class="loginRow">
        <input matNativeControl type="attack" value="{{card?.attack}}" name="attack"
            (input)="setAttack(attack.value)" #attack />
    </mat-form-field>
    <mat-form-field class="loginRow">
        <input matNativeControl type="defence" value="{{card?.defence}}" name="defence"
            (input)="setDefence(defence.value)" #defence />
    </mat-form-field>
    <mat-form-field class="loginRow">
        <input matNativeControl type="description" value="{{card?.description}}" name="description"
            (input)="setDescription(description.value)" #description />
    </mat-form-field>
    <label class="errorMessage" id="errorMessage">Invalid email and/or password!</label>
    <button mat-raised-button class="createCardButton" (click)="updateCard()" #loginButton>Update card</button>
    <button mat-raised-button class="backButton" (click)="backButton()">See all cards</button>
</div>