.menu-main {
    background-color: rgb(110, 181, 110);
    top: 0;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    z-index: 999;

}

mat-toolbar {
    width: 105%;
}

.headerTitle {
    color: azure;
    font-weight: bold;
    margin: 3%;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    align-self: center;
    justify-self: center;
    align-content: center;
    margin-left: 10%;
}

.titleNotLogedIn {
    justify-self: center;
    align-self: center;
    text-align: center;
    color: azure;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 100%;
    margin-left: 8%;
}

.notificationsButton {
    margin: 7%;
}

.username {
    margin: 2%;
    color: azure;
    font-weight: lighter;
    font-size: 15px;
}

.username:hover {
    cursor: pointer;
    color: lightblue;
}

.logoutButton {
    background-color: black;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 5%;
    color: azure;
}

.userInfo {
    margin: 5%;
    visibility: hidden;
}

.menu {
    visibility: hidden;
}

.menu2 {
    visibility: hidden;
}